* {
  margin: 0 auto;
  box-sizing: border-box; }

p {
  font-family: "Varela Round";
  font-size: 1.2em;
  color: #000; }

.wrapper {
  min-height: calc(100vh - 40px); }

.footer {
  text-align: center;
  margin-bottom: 0;
  height: 40px; }

.nameplate {
  background-color: #ffffff;
  padding: 2px 2px 2px 2px; }

.center-content-wrapper {
  width: 80%;
  margin: 0 auto; }

.logo-plate {
  width: 100%;
  margin: 0 auto;
  height: 70px;
  margin-bottom: 6px; }
  .logo-plate h4 {
    display: inline-block;
    font-family: "Dosis";
    font-size: 3.2em;
    margin-top: 0px; }
    .logo-plate h4 img {
      height: 60px;
      width: 60px;
      border-radius: 2px 2px 2px 2px; }

.logo-space {
  margin-right: 10px; }

.main-menu-container {
  background-color: #551825; }

.menu-nav {
  width: 100%;
  margin: 0 auto;
  height: 50px;
  padding: 3px 3px; }

header {
  background: #ffa949 url("../images/bg3.jpg") no-repeat center;
  background-size: cover; }

.intro-container {
  width: 100%;
  margin: 0 auto;
  text-align: center;
  padding: 5px 5px 5px 5px; }
  .intro-container h5 {
    font-family: "Anton";
    font-size: 2em;
    color: #071915;
    border-bottom: 2px solid #F7DC6F;
    margin-bottom: 2px;
    display: inline-block; }

.main-content-container {
  margin-top: 5px; }

.content-col {
  width: 25%;
  display: inline-block;
  margin-right: -3px;
  padding: 5px 5px 5px 5px;
  vertical-align: top; }
  .content-col p {
    font-size: .9em;
    text-align: justify; }
  .content-col h4 {
    text-align: center; }

.actual-content {
  width: 100%;
  margin: 0 auto;
  background-color: #ffffff; }

footer {
  background: #190718 url("../images/bg.jpg") no-repeat center;
  background-size: cover; }

.footer-colm {
  width: 35%;
  padding: 4px 4px 4px 4px;
  display: inline-block;
  margin-right: -3px;
  margin-bottom: 10px;
  text-align: justify;
  vertical-align: top; }
  .footer-colm p {
    color: #927608;
    font-size: 1em;
    line-height: 1.6;
    margin-bottom: 0px;
    font-family: "Barlow Semi Condensed"; }
    .footer-colm p a {
      text-decoration: none;
      color: #927608; }
  .footer-colm h6 {
    color: #ffffff;
    font-family: "Barlow Semi Condensed";
    font-size: 1.7em;
    margin-bottom: 4px; }

.copyright {
  width: 30%;
  padding: 1px 1px 1px 1px;
  display: inline-block;
  margin-right: -3px;
  margin-bottom: 10px;
  text-align: justify;
  vertical-align: top; }
  .copyright p {
    color: #927608;
    font-size: 1em;
    line-height: 1.6;
    margin-bottom: 0px;
    font-family: "Barlow Semi Condensed"; }
    .copyright p a {
      text-decoration: none;
      color: #927608; }
  .copyright h6 {
    color: #ffffff;
    font-family: "Barlow Semi Condensed";
    font-size: 1.7em;
    margin-bottom: 4px; }

.footer-content {
  width: 100%;
  margin: 0 auto; }

.menu-list {
  display: flex;
  margin-top: 10px; }
  .menu-list li {
    font-family: "Barlow Semi Condensed";
    font-size: 1.2em; }
    .menu-list li a {
      text-decoration: none;
      color: #927608; }
